<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판 상세</title>
  <style>
    table, tr, td, th {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
    }
  </style>
  <script th:inline="javascript">
    window.onload = function () {
      document.querySelector("#listReq").onclick=backFunc;
      document.querySelector("#updateReq").onclick=updateFunc;
      document.querySelector("#deleteReq").onclick=deleteFunc;
    }

    function backFunc() {
      location.href = "/board/list";
    }

    function updateFunc() {
      const boardId = [[${board.id}]];
      location.href = "/board/update/" + boardId;
    }

    function deleteFunc() {
      const boardId = [[${board.id}]];
      if (confirm("정말 삭제하시겠습니까?")) {
        location.href = "/board/delete/" + boardId;
      }
    }
  </script>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <td th:text="${board.id}"></td>
  </tr>
  <tr>
    <th>title</th>
    <td th:text="${board.boardTitle}"></td>
  </tr>
  <tr>
    <th>writer</th>
    <td th:text="${board.boardWriter}"></td>
  </tr>
  <tr>
    <th>date</th>
    <td th:text="${board.boardCreated}"></td>
  </tr>
  <tr>
    <th>hits</th>
    <td th:text="${board.boardHits}"></td>
  </tr>
  <tr>
    <th>contents</th>
    <td th:text="${board.boardContents}"></td>
  </tr>
  <tr th:if="${board.fileAttached == 1}">
    <th>image</th>
    <td th:each="boardFile: ${boardFileList}">
      <img th:src="@{|/upload/${boardFile.storedFileName}|}" alt="" width="200" height="200">
    </td>
  </tr>
</table>
<input type="button" id="listReq" value="목록">
<input type="button" id="updateReq" value="수정">
<input type="button" id="deleteReq" value="삭제">
</body>
</html>