<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
    <script th:inline="javascript">
        window.onload = function () {
            document.querySelector("#listReq").onclick=backFunc;
            document.querySelector("#updateBtn").onclick=updateFunc;
        }

        function backFunc() {
            location.href = "/board/list";
        }

        function updateFunc() {
            const boardPassword = [[${board.boardPassword}]];
            const inputPassword = document.getElementById("boardPassword").value;
            if (boardPassword === inputPassword) {
                document.updateData.submit();
            } else {
                alert("비밀번호가 일치하지 않습니다.")
            }
        }
    </script>
</head>
<body>
<form action="/board/update/{id}" method="post" name="updateData">
    <label>
        <input type="hidden" th:value="${board.id}" name="id">
        제목 : <input type="text" th:value="${board.boardTitle}" name="boardTitle"><br/>
        작성자 : <input type="text" th:value="${board.boardWriter}" name="boardWriter" readonly><br/>
        비밀번호 : <input type="password" name="boardPassword" id="boardPassword"><br/>
        내용: <textarea name="boardContents" cols="30" rows="10"></textarea><br/>
        <input type="button" id="listReq" value="목록">
        <input type="button" id="updateBtn" value="수정">
    </label>
</form>
</body>
</html>